body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
}

.admin-panel {
    /*flex: 1;*/
    min-height: 100vh;
    max-width: 250px;
    background-color: #1b2d37;
}

.admin-content {
    flex: 2;
    background-color: #eeeeee;
}

/* LIST */
.admin-panel ul.dsa-menu,
.admin-panel ul.dsa-sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-panel ul.dsa-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-panel ul.dsa-menu li ul.dsa-sub-menu {
    max-height: 0;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
}

.admin-panel ul.dsa-menu li.active ul.dsa-sub-menu {
    max-height: max-content;
    height: 1000px;
}

.admin-panel ul.dsa-menu li ul.dsa-sub-menu li {

}

ul.dsa-menu .dsa-item {
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 17px;
    color: #102103;
    cursor: pointer;
    display: block;
    background-color: #fefefe;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    border-top: 1px solid white;
    border-left: 1px solid #dedede;
    border-right: 1px solid #cecece;
    text-decoration: none;
}

ul.dsa-menu .dsa-item:hover {
    background-color: #fff;
    color: #202204;
}

ul.dsa-sub-menu .dsa-item:hover {
    background-color: #eee;
    /*box-shadow: inset 0px -10px 16px -9px #295f76;*/
}

ul.dsa-sub-menu .dsa-item {
    line-height: 16px;
    font-size: 12px;
    padding: 0 17px 0 34px;
    color: #102103;
    background-color: #d5d5d5;
    border: none;
    border-bottom: 1px solid grey;
    border-right: 1px solid #cecece;
    border-collapse: collapse;
    /*box-shadow: inset 0px 0px 22px -9px #295f76;*/
}

.container {
    border: 1px solid #cecece;
    border-radius: 2px;
    margin: 17px 17px 0px 17px;
    background-color: #fefefe;
    padding: 17px;
}

.container > h1 {
    /*margin: 0;*/
}

.no-border {
    border: none;
}

.no-background {
    background-color: transparent;
}


.button-panel {}

a.dsg-btn:link,
a.dsg-btn:visited,
a.dsg-btn:active,
a.dsg-btn,
.button-panel > a:link,
.button-panel > a:visited,
.button-panel > a:active,
.button-panel > a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    color: black;
    font-size: 80%;
    padding: 3px 6px;
    outline: none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

a.dsg-btn:hover,
.button-panel > a:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}
